<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Libre+Baskerville|Russo+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Train INFO</title>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Train Info</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/register">Register</a></li>
                            <li><a href="/login">Login</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/train_route">Train Route</a></li>
                    <li><a href="/live_status">Live Status</a></li>
                    <li><a href="/pnr"></span>PNR</a></li>
                    <li><a href="/seat_availability">Check Seat</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <div class="container-fluid footer">
        <div class="container">
            <div class="row" style="color:azure">
                <div class="col-sm-4">@ 2019 copyright</div>
                <div class="col-sm-4">contact :</div>
                <div class="col-sm-4">nawal2733@gmail.com</div>
            </div>
        </div>
    </div>

</body>

</html>